[Unit]
Description=vLLM Meta Muse-Glimmer-30B server
After=network-online.target nvidia-persistenced.service nvidia-cdi.service
Wants=network-online.target nvidia-persistenced.service
Requires=nvidia-cdi.service
PartOf=vllm-muse-glimmer.target

[Container]
Image=docker.io/vllm/vllm-openai:muse-glimmer
Network=host
ContainerName=vllm-muse-glimmer
AddDevice=nvidia.com/gpu=all
PodmanArgs=--ipc=host
User=2000:0
Volume=/var/lib/vllm/muse-glimmer:/home/vllm/.cache/huggingface

# Environment variables
Environment=VLLM_USE_DEEP_GEMM=0

# We are currently downloading the model when the container starts.
# These environment variables disable that.
# Environment=HF_HUB_OFFLINE=1
# Environment=TORCH_HUB_OFFLINE=1
# Environment=TORCH_DISTRIBUTED_DEBUG=OFF
# Environment=VLLM_NO_USAGE_STATS=1
# Environment=DO_NOT_TRACK=1

# Command line arguments
Exec=--model RedHatAI/Muse-Glimmer-30B-FP8-block \
     --served-model-name muse-glimmer \
     --port 8001 \
     --max-model-len 131072 \
     --tensor-parallel-size 1 \
     --max-num-seqs 64 \
     --gpu-memory-utilization 0.9 \
     --enable-auto-tool-choice \
     --tool-call-parser muse_glimmer \
     --reasoning-parser muse_glimmer \
     --generation-config auto \
     --speculative-config '{"method": "dflash", "model": "meta-models/Muse-Glimmer-30B-assistant", "num_speculative_tokens": 15}'

[Service]
TimeoutStartSec=infinity
Restart=on-failure
RestartSec=30
